---
// components/BenefitsSection.astro
import "../../styles/ServicesComponents/BenefitsSection/StyleSheet.css";

export interface Benefit {
  title: string;
  description: string;
}

export interface Props {
  title?: string;
  benefits?: Benefit[];
}

const { title, benefits = [] } = Astro.props;
---

<div class="benefits-section">
  <h3 class="section-title">{title}</h3>
  <div class="benefits-grid">
    {
      benefits.map(({ title, description }) => (
        <div class="benefit-item">
          <h4>{title}</h4>
          <p>{description}</p>
        </div>
      ))
    }
  </div>
</div>
