---
// components/FeaturesSection.astro
import FeatureCard from "./FeatureCard.astro";
import "../../styles/ServicesComponents/FeaturesServiceGrid/StyleSheet.css";

export interface Feature {
  icon: string;
  title: string;
  description: string;
}

export interface Props {
  title?: string;
  features?: Feature[];
}

const { title, features = [] } = Astro.props;
---

<h3 class="section-title">{title}</h3>

<div class="features-grid">
  {
    features.map(({ icon, title, description }) => (
      <FeatureCard icon={icon} title={title} description={description} />
    ))
  }
</div>
