---
import "../../styles/ServicesComponents/FeatureCard/StyleSheet.css";
const { icon, title, description } = Astro.props;
---

<div class="feature-card">
  <div class="feature-icon">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
    >
      <path d={icon}></path>
    </svg>
  </div>
  <h4>{title}</h4>
  <p>{description}</p>
</div>
