---
import "../../styles/ServicesComponents/FleetHero/StyleSheet.css";
const { title1, title2, description } = Astro.props;
---

<div class="hero-section">
  <div class="hero-content">
    <div class="title-wrapper">
      <h1 class="fleet-heading">
        <span class="heading-line">{title1}</span>
        <span class="heading-line highlight">{title2}</span>
      </h1>
    </div>
    <p class="hero-description">{description}</p>
  </div>
</div>
