---
const { title, path, description } = Astro.props;
import "../../styles/ServicesComponents/OverViewCard/StyleSheet.css";
---

<div class="overview-card">
  <div class="card-header">
    <div class="icon-wrapper">
      <svg
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path d={path}></path>
      </svg>
    </div>
    <h2 class="card-title">{title}</h2>
  </div>
  <div class="card-content">
    <p class="card-text">
      {description}
    </p>
  </div>
</div>
