---
import "../../styles/Counter/StyleSheet.css";
const { target, number, label } = Astro.props;
---

<div>
  <div class="counter-container">
    <div class="counter-content">
      <span id={target} class="count-number" data-target={number}>0</span>
      <p class="count-label">{label}</p>
    </div>
  </div>
</div>

<script src="../../Utils/Counter/index.ts"></script>
