---
import "../../styles/Main/Hero/StyleSheet.css";
const { title, highlight, subtitle, description } = Astro.props;
---

<section id="home" class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        {title}<span class="highlight">{highlight}</span>
        {subtitle}
      </h1>
      <p class="hero-description">
        {description}
      </p>
      <div class="hero-buttons">
        <a href="../Features" class="btn btn-primary">Start Now</a>
        <a href="../Contact" class="btn btn-secondary">More Info</a>
      </div>
    </div>
    <lottie-player
      src="https://assets1.lottiefiles.com/packages/lf20_49rdyysj.json"
      background="transparent"
      speed="1"
      style="width: 400px; height: 400px;"
      loop
      autoplay></lottie-player>
  </div>
</section>

<!-- Lottie script -->
<script
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
></script>
