---
import Counter from "../Counter/Counter.astro";
import "../../styles/Main/StateSection/StyleSheet.css";

interface Props {
  counters: {
    number: number;
    label: string;
  }[];
  title: string;
  subtitle: string;
}

const { counters, title, subtitle } = Astro.props;
---

<section style="text-align: center; padding: 2rem;">
  <h1 class="counter-title">{title}</h1>
  <h2 class="counter-subtitle">{subtitle}</h2>
  <div
    style="display: flex; gap: 6rem; justify-content: center; padding: 3rem; flex-wrap: wrap;"
  >
    {
      counters.map((counter) => (
        <Counter number={counter.number} label={counter.label} />
      ))
    }
  </div>
</section>
