---
import "../../styles/About/AboutContentCard/Stylesheet.css";
// src/components/ContentCard.astro
export interface Props {
  title: string;
  icon: string;
  content: string[];
  quote?: string;
}

const { title, icon, content, quote } = Astro.props;
---

<div class={`content-card`}>
  <div class="card-header">
    <div class="icon-wrapper">
      <Fragment set:html={icon} />
    </div>
    <h2 class="card-title">{title}</h2>
  </div>
  <div class="card-content">
    {content.map((paragraph) => <p class="card-text">{paragraph}</p>)}
    {quote && <blockquote class="quote">{quote}</blockquote>}
  </div>
</div>
