---
// src/components/FloatingShapes.astro
import "../../styles/About/AboutFloatingShapes/StyleSheet.css";
---

<div class="floating-shapes">
  <div class="shape shape-1"></div>
  <div class="shape shape-2"></div>
  <div class="shape shape-3"></div>
  <div class="shape shape-4"></div>
  <div class="shape shape-5"></div>
</div>

<script src="../../Utils/AboutFloatingShapes/index.ts"></script>
