---
import "../../styles/Contact/ContactMap/StyleSheet.css";
const { mapLocation } = Astro.props;
---

<div class="contact-map">
  <iframe
    src={mapLocation}
    width="100%"
    height="100%"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
