---
import "../../styles/Features/DetailedItems/StyleSheet.css";
interface DetailItemProps {
  id: string;
  icon: string;
  title: string;
  content: string[];
}

const { id, icon, title, content } = Astro.props as DetailItemProps;
---

<div id={id} class="detail-item">
  <div class="detail-header">
    <div class="detail-icon">{icon}</div>
    <h3>{title}</h3>
  </div>
  <div class="detail-content">
    {content.map((paragraph: string) => <p>{paragraph}</p>)}
  </div>
</div>
